* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tracker {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

#amountweekly {
    display: none;
    text-align: center;
}

#expenseCalc {
    display: none;
}
#expense_form {
    display: none;
}
#amountdaily {
    display: none;
    text-align: center;
}

.stuffinside {
    position: relative;
    font-weight: bold;
    width: 320px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0 15px 0 #fff,
    inset 0 -15px 0 rgba(255,255,255,0.25),
    0 45px 0 rgba(0,0,0,0.15);
}

.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0px auto;
    padding: 100px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
}
.mytabs label:hover {
    background-color: #323350;
    color: white;
    transition: 1s ease-out;
    box-shadow: inset 300px 0 0 0 rgba(171, 119, 206, 0.938);
    cursor: pointer;
    
}
.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}

.generateButton {
    width: 300px;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 yellow;
    transition: ease-out 3s;
    font-weight: bold;

}

.generateButton:hover {
    box-shadow: inset 300px 0 0 0 red;
    cursor: pointer;
    color: black;
}

input[name="salary_input"] {
    float:right;
    width:15%;
}

input[name="price1"] {
    float:right;
    width:15%;
}

input[name="expenseinput"] {
    float:right;
    width:15%;
}

.info
{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    color: white;
}

.info .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #47a386;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    margin: 15px;
    box-sizing: border;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    transition: ease-in-out .5s;
}

.info .box p {
    font-size: 15px;
    font-weight: bold;
    transition: ease-out 1s;
}

.modal-container {
    display: none;
}

button {
    background-color: rgba(0, 0, 255, 0.13);
    border: 0;
    border-radius: 5px;
}
.modal-container {
    position: fixed;
    display: flex;
    opacity: 0;
}

.modal-container.show {
    opacity: 1;
    transition: ease-in 1s;
}

.notepad {
    opacity: 0;
}

.notepad.show {
    opacity: 1;
    transition: ease-in 1s;
}

.timeworked {
    font-weight: bold;
}
